---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Button from '@/components/ui/Button.tsx';
import TablesList from '@/components/layout/TablesList.tsx';
import ThemeSwitcher from '@/components/ui/ThemeSwitcher';
import LocaleSwitcher from '@/components/ui/LocaleSwitcher';
import AdminContent from '@/components/layout/AdminContent.tsx';
import Logo from '@/components/ui/Logo';

export const prerender = false; // Mark this route as server-rendered

const sessionCookie = Astro.cookies.get('session');
// console.log('Session cookie in admin.astro:', sessionCookie);
const dbPath = sessionCookie ? JSON.parse(sessionCookie.value).dbPath : '/sqlite/data.db';
// console.log('dbPath in admin.astro:', dbPath);
---
 
<BaseLayout title="SQLite Panel">
  <div class="flex h-screen bg-gray-100 dark:bg-gray-900">
    <!-- Sidebar -->
    <aside class="w-64 bg-white dark:bg-gray-800 p-4 border-r border-gray-200 dark:border-gray-700 flex flex-col min-h-[450px]">
      <Button type="submit" className="mb-4 mx-auto flex gap-2 items-center rounded-lg" variant="none" href="/admin" client:load>
        <Logo size={56} />
        <h1 class="text-xl font-bold text-gray-900 dark:text-white">SQLite Panel</h1>
      </Button>
      <h2 class="text-lg font-semibold mb-4 text-gray-900 dark:text-white">Tables</h2>
      <nav class="flex-grow max-h-full overflow-y-auto">
        <TablesList client:load />
      </nav>
      <div class="flex flex-col gap-2">
        <ThemeSwitcher client:load />
        <LocaleSwitcher className='w-full' client:load />
        <form action="/api/logout" method="get">
          <Button
            type="submit"
            className="w-full"
            variant="empty"
            client:load
          >
            Logout
          </Button>
        </form>
      </div>
      <p class="text-center text-sm mt-2">By <a href="https://github.com/fernaper" target="_blank" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 transition-colors duration-200" rel="noopener noreferrer">
        @fernaper</a></p>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 px-6 pb-6 overflow-auto">
      <AdminContent client:load dbPath={dbPath} />
    </main>
  </div>

</BaseLayout>