---
import ThemeSwitcher from '@/components/ui/ThemeSwitcher.tsx';
import LocaleSwitcher from '@/components/ui/LocaleSwitcher.tsx';
import BaseLayout from '@/layouts/BaseLayout.astro';
import LoginForm from '@/components/layout/LoginForm.tsx';
---

<BaseLayout title="Login - SQLite Panel">
  <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900 p-4">
    <div class="absolute top-4 right-4 flex items-center space-x-4">
      <ThemeSwitcher className='me-4' client:load />
      <LocaleSwitcher client:load />
    </div>
    <LoginForm client:load />
  </div>
</BaseLayout>